<html>
<head>
  <meta charset="UTF-8">
  <title>PayMeToAdult</title>
</head>
<body>
  <div>SoloProject: todolist with Venmo API requests</div>
  <br>
  Login
  <hr>
  <form method="POST" action='/login'>
    <input name="username" type="text" placeholder="username"></input>
    <input name="password" type="password" placeholder="password"></input>
    <input type='submit' value="login">
  </form>
  <a href='./signup'>Sign up</a>
</body>
</html>
