<html>
<head>
  <meta charset="UTF-8">
  <title>What makes this page secret?</title>
</head>
<body>
  Secret page
    <ul>
    <% users.forEach(function(user) { %>
      <li>
      <%= user.username %>
      <%= user.password %>
      </li>
    <% }) %>
    </ul>
</body>
</html>
